<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/css/bootstrap-theme.min.css">
  <script src="vendor/vue.js"></script>
</head>
<body>
  <div class="row">
    <div class="col-md-12">
      <h1>Brastemp</h1>
      <form class="form-horizontal" id="form-js">
        <div class="form-group">
          <label for="inputLink" class="col-sm-2 control-label">Link Principal</label>
            <div class="col-sm-8" id="app">
              <input type="text" class="form-control link_principal" v-model="input1" >
            </div>
        </div>
        <div class="form-group">
          <label for="utmSource" class="col-sm-2 control-label">UTM SOURCE</label>
            <div class="col-sm-8">
              <input type="text" class="form-control utm_source" placeholder="utm_source" v-model="input2">
            </div>
        </div>
        <div class="form-group">
          <label for="utmSource" class="col-sm-2 control-label">Data</label>
            <div class="col-sm-8">
              <input type="text" class="form-control date_campanha" placeholder="Data do disparo" v-model="input3">
            </div>
        </div>
        <div class="form-group">
          <label for="utmMedium" class="col-sm-2 control-label">UTM MEDIUM</label>
            <div class="col-sm-8">
              <input type="text" class="form-control utm_medium" placeholder="utm_medium" v-model="input4">
            </div>
        </div>
        <div class="form-group">
          <label for="utmCampaing" class="col-sm-2 control-label">utm_campaign</label>
            <div class="col-sm-8">
              <input type="text" class="form-control utm_campaign" placeholder="utm_campaign" v-model="input5">
            </div>
        </div>
        <div class="form-group">
          <label for="ck_utmi" class="col-sm-2 control-label">Adicionar UTMI</label>
            <div class="checkbox col-sm-1">
              <input type="checkbox" id="blankCheckbox" value="utmi" aria-label="..." v-model="input6">
            </div>
        </div>
        <div class="form-group hidden check-utmi" id="check_utmi">
          <label for="utmi" class="col-sm-2 control-label">UTMI</label>
            <div class="col-sm-8">
              <input type="text" class="form-control utmi-text" placeholder="utmi" v-model="input7">
            </div>
        </div>
        <div class="form-group">
          <label for="result" class="col-sm-2 control-label">Resultado:</label>
            <div class="col-sm-8">
              <p class="show_result">{{ result }}</p>
            </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success" id="gerar" v-on:click.prevent="buildUtm">Gerar URL</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <script src="vue-teste.js"></script>
</body>
</html>