<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
  <link rel="stylesheet" href="vendor/css/bootstrap-theme.min.css">
  <script src="vendor/vue.js"></script>
  <script src="vendor/clipboard.js"></script>
</head>
<body>
  <div id="cpy"></div>
  <div id="app" class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Brastemp</h1>
        <form class="form-horizontal">

          <div v-for="(field, index) in tag.fields" :keys="index" class="form-group">
            <label :for="'field-' + index" class="control-label col-sm-2">{{ field.label }}</label>
            <div class="col-sm-8">
              <div v-if="field.optional" class="input-group">
                <span class="input-group-addon">
                  <input v-model="field.active" type="checkbox">
                </span>
                <input v-model="field.value" :id="'field-' + index" :disabled="!field.active" class="form-control" type="text">
              </div>
              <input v-else v-model="field.value" :id="'field-' + index" class="form-control" type="text">
            </div>
          </div>

          <div class="form-group">
            <label for="result" class="col-sm-2 control-label">Resultado:</label>
              <div class="col-lg-8 input-group">
                <span class="label label-primary" style="font-size: 14px;">{{ formatTag(tag) }}</span>
              </div>
          </div>

          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-success" @click.prevent="save">Gerar URL</button>
              <button type="button" class="btn btn-warning" @click="clean">LIMPAR</button>
            </div>
          </div>

        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">Panel heading</div>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>#</th>
                  <th>URL GERADAS</th>
                  <th>Opções</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(tag, index) in tags">
                  <th>{{ index + 1 }}</th>
                  <td :id="'tag-' + index">{{ formatTag(tag) }}</td>
                  <td>
                    <button class="btn btn-info copy" type="button" :data-clipboard-target="'#tag-' + index">Copy</button>
                    <button @click="edit(index)" class="btn btn-warning" type="button">Edit</button>
                    <button @click="remove(index)" class="btn btn-danger" type="button">Delete</button>
                  </td>
                </tr> 
              </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
  <script src="main.js"></script>
</body>
</html>